.git
.gitignore
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
*.log
output/*
!output/.gitkeep
test-files/*
!test-files/.gitkeep
# Ignore local GGUF models so the container builds and converts the model internally from scratch
models/ggufs/*
!models/ggufs/.gitkeep
# Ignore Windows binaries when building Docker Linux images so our downloaded Linux binary isn't overwritten
bin/cpu/*
bin/cuda/*
frontend/node_modules
frontend/dist
offline.zip
